<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="'上周起租客户'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link th:href="@{/css/jquery-weui.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/weui.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/wxss.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.2.1.min.js}"  type="text/javascript" ></script>
<script th:src="@{/js/jquery-weui.min.js}"  type="text/javascript" ></script>
</head>
<body ontouchstart>
    <div class="weui-tab">
     <div class="weui-navbar">
	       <div class="weui-navbar__item weui-bar__item--on wxss-register_title">
		       <div style="width:64px" class="wxss-register_turnimg" th:onclick="'javascript:history.go(-1)'" >
    			  <img th:src="@{/images/turnback.png}" alt="" class="weui-tabbar__icon">
		       </div>
			   <span id="NavTitle" th:text="${owername}+'-上周起租客户详情'">上周起租客户详情</span>
			   <div style="width: 64px"></div>
	       </div>
	  </div>
      <div class="weui-tab__bd">
         <div class="weui-tab__bd-item weui-tab__bd-item--active">
          <div class="weui-form-preview" style="margin:1px 8px 20px 8px;background-color: #F8F8F8" th:each="customer:${customers}">
			  <div class="weui-form-preview__hd">
			  	<div class="weui-form-preview__item">
			  	  <label class="weui-form-preview__label"></label>
	              <em class="weui-form-preview__value" style="text-align: center;" th:text="${customer.cust_name}"></em>
			  	</div>
			  </div>
			  <div class="weui-form-preview__bd">
	              <div class="weui-form-preview__item">
	                  <label class="weui-form-preview__label">车型：</label>
	                  <span class="weui-form-preview__value" th:text="${customer.car_model}"></span>
	              </div>
	              <div class="weui-form-preview__item">
	                  <label class="weui-form-preview__label">起租日：</label>
	                  <span class="weui-form-preview__value" th:text="${customer.leasing_start}"></span>
	              </div>
	              <div class="weui-form-preview__item">
	                  <label class="weui-form-preview__label">获客来源：</label>
	                  <span class="weui-form-preview__value" th:text="${customer.source}"></span>
	              </div>
	          </div>
	      </div>
	      <span style="margin:0 0 0 10px;" th:text="${#lists.isEmpty(customers)}?'没有客户数据...'"></span>
  	    </div>
  	  </div>
    </div>
</body>
</html>
