<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${branchName}+'CRM报表'" ></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link th:href="@{/css/jquery-weui.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/weui.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/wxss.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.2.1.min.js}"  type="text/javascript" ></script>
<script th:src="@{/js/jquery-weui.min.js}"  type="text/javascript" ></script>
</head>
<body ontouchstart>
    <div class="weui-tab">
      <div class="weui-tab__bd">
        <div class="weui-form-preview" style="margin:7px 8px 20px 8px;background-color: #F8F8F8" th:each="team:${teams}">
		  <div class="weui-form-preview__hd">
		  	<div class="weui-form-preview__item">
		  	  <label class="weui-form-preview__label"></label>
              <em class="weui-form-preview__value" style="text-align: center;" th:text="${team.teamName}+'-'+${team.teamLeader}"></em>
		  	</div>
		  </div>
		  <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">销售人数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.memberNum}"></span>
            </div>
			<div class="weui-form-preview__item">
              <label class="weui-form-preview__label">当前跟进客户总数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.fallowCustomers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">上周新登记客户数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.lastWeekAddCustomers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">上周起租合同数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.lastWeekRentCustomers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">A类客户数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.customerA}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">B类客户数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.customerB}"></span>
            </div>
             <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">上周回访客户数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.lastWeekCallbackCustomers}"></span>
            </div>
             <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">上周总回访次数：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.callbackCustomers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">未及时回访AB类客户数 ：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.uncallback3Customers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">超一周未回访客户数 ：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.uncallback7Customers}"></span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">应强制转交或放弃客户数 ：</label>
              <span class="weui-form-preview__value" style="text-align: right;" th:text="${team.uncallback15Customers}"></span>
            </div>
		  </div>
		  <div class="weui-form-preview__ft">
		  	<a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:" th:href="'javascript:toDetailPage(\''+${team.teamId}+'\')'" >查看详情>></a>
		  </div>
       </div>
  	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
function toDetailPage(teamId) {
	var redirectUrl = /*[[@{/report/teamDetailCR(searchDate=${searchDate},branchName=${branchName})}]]*/;  
	window.location.href = redirectUrl + "&teamID=" + teamId;
}
/*]]>*/
</script>
</body>
</html>
